---
- name: "Section A: Upload Kubeconfig to Vault"
  run_once: true
  block:
    - name: "Step A1. Read kubeconfig from primary master"
      ansible.builtin.slurp:
        src: "/etc/kubernetes/admin.conf"
      register: remote_kubeconfig

    - name: "Step A2. Upload Kubeconfig to Vault KV"
      delegate_to: localhost
      become: false
      community.hashi_vault.vault_kv2_write:
        url: "{{ vault_addr }}"
        path: "on-premise-gitlab-deployment/infrastructure/kubeconfig/{{ service_name }}"
        engine_mount_point: "secret"
        auth_method: approle
        role_id: "{{ vault_agent_role_id }}"
        secret_id: "{{ vault_agent_secret_id }}"
        validate_certs: false
        data:
          content_b64: "{{ remote_kubeconfig['content'] }}"
