global_defs {
    router_id {{ kubeadm_ha_lb.keepalived_config.router_id }}
    vrrp_version {{ kubeadm_ha_lb.keepalived_config.vrrp_version }}
    enable_script_security
}
vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['master'][0] else 'BACKUP' }}
    interface {{ k8s_ha_interface }}
    
    virtual_router_id {{ kubeadm_ha_lb.keepalived_config.virtual_router_id }}
    advert_int {{ kubeadm_ha_lb.keepalived_config.advert_int }}
    
    priority {{ 100 - groups['master'].index(inventory_hostname) }}
    
    virtual_ipaddress {
        {{ k8s_ha_virtual_ip }}
    }
}