---
- name: "Block A: Generate and register cluster join parameters"
  block:
    - name: "Step 1. Check if admin.conf exists on the primary master"
      ansible.builtin.stat:
        path: "{{ kubeadm_join_cmd.kubeconfig.path }}"
      register: kubeconfig

    - name: "Step 2. Assert that kubeadm init was successful before proceeding"
      ansible.builtin.assert:
        that: kubeconfig.stat.exists
        fail_msg: "{{ kubeadm_join_cmd.asserts.kubeconfig_fail_msg }}"

    - name: "Step 3. Create a new token"
      ansible.builtin.command:
        cmd: "{{ kubeadm_join_cmd.commands.token_create }}"
      register: kubeadm_token_result
      changed_when: kubeadm_token_result.rc == 0

    - name: "Step 4. Get the CA certificate hash"
      ansible.builtin.shell:
        cmd: "{{ _kubeadm_join_cmd_get_ca_hash }}"
        executable: "{{ kubeadm_join_cmd.paths.shell_executable }}"
      register: kubeadm_ca_hash_result
      changed_when: false

    - name: "Step 5. Upload certs and get the certificate key"
      ansible.builtin.command:
        cmd: "{{ kubeadm_join_cmd.commands.upload_certs }}"
      environment: "{{ kubeadm_join_cmd.kubeconfig.name }}: {{ kubeadm_join_cmd.kubeconfig.path }}"
      register: cert_key_result
      changed_when: "'certificate key' in cert_key_result.stdout"

    - name: "Step 6. Register join parameters as facts"
      ansible.builtin.set_fact:
        kubeadm_token: "{{ kubeadm_token_result.stdout }}"
        kubeadm_ca_hash: "{{ kubeadm_ca_hash_result.stdout }}"
        kubeadm_cert_key: "{{ cert_key_result.stdout_lines | last }}"
        cacheable: "{{ kubeadm_join_cmd.facts.cacheable }}"
