---
kubeadm_join_secondary:
  prereqs:
    reset_cmd: "kubeadm reset -f"
    service_name: "kubelet"

  join_config:
    dest_path: "/tmp/kubeadm-join-config.yaml"
    mode: "0644"

    api_version: "kubeadm.k8s.io/v1beta4"
    kind: "JoinConfiguration"
    cgroup_driver: "systemd"
    ca_verification_skip: false

  join_cmd:
    creates_path: "/etc/kubernetes/kubelet.conf"
    ignore_preflights:
      - "Port-6443"
    fail_msg: "kubeadm join failed on {{ inventory_hostname }}."

  apiserver_patch:
    manifest_path: "/etc/kubernetes/manifests/kube-apiserver.yaml"
    bind_address_regexp: '^(\s+)- --bind-address='
    insert_after_line: '(\s+)- --authorization-mode=Node,RBAC'

  kubeconfig:
    src_file: "/etc/kubernetes/admin.conf"

    root_setup:
      dir: "/root/.kube"
      config_path: "/root/.kube/config"
      dir_mode: "0755"
      config_mode: "0600"

    user_setup:
      dir_name: ".kube"
      config_name: "config"
      dir_mode: "0755"
      config_mode: "0644"

# Kubeadm Join
_kubeadm_join_cli_args_string: >
  --config={{ kubeadm_join_secondary.join_config.dest_path }}
  --ignore-preflight-errors={{ kubeadm_join_secondary.join_cmd.ignore_preflights | join(',') }}

_kubeadm_join_user_kube_dir: "/home/{{ ansible_ssh_user }}/{{ kubeadm_join_secondary.kubeconfig.user_setup.dir_name }}"
_kubeadm_join_user_kube_config: "{{ _kubeadm_join_user_kube_dir }}/{{ kubeadm_join_secondary.kubeconfig.user_setup.config_name }}"
