---
- name: "Section A: Configure Keepalived and HAProxy "
  block:
    - name: "Step A1. Render Keepalived configuration"
      ansible.builtin.template:
        src: keepalived.conf.j2
        dest: /etc/keepalived/keepalived.conf
        owner: root
        group: root
        mode: "0644"
      notify: Restart Keepalived

    - name: "Step A2. Render HAProxy configuration"
      ansible.builtin.template:
        src: haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
        owner: root
        group: root
        mode: "0640"
      notify: Restart HAProxy

    - name: "Step A3. Verify HAProxy configuration"
      ansible.builtin.command:
        cmd: haproxy -c -f /etc/haproxy/haproxy.cfg
      changed_when: false

- name: "Section B: Service Lifecycle"
  block:
    - name: "Step B1. Enable and start Keepalived"
      ansible.builtin.systemd:
        name: keepalived
        state: started
        enabled: true
        daemon_reload: true

    - name: "Step B2. Enable and start HAProxy"
      ansible.builtin.systemd:
        name: haproxy
        state: started
        enabled: true
        daemon_reload: true
