---
- name: "Section A: Reset MicroK8s State"
  become: true
  block:
    - name: "Step A1. Execute microk8s reset"
      ansible.builtin.command:
        cmd: "microk8s reset --destroy-storage"
      register: microk8s_reset
      changed_when: true
      ignore_errors: true

    - name: "Step A2. Stop MicroK8s services"
      ansible.builtin.command:
        cmd: "microk8s stop"
      changed_when: true
      ignore_errors: true

- name: "Section B: Clean Artifacts"
  become: true
  block:
    - name: "Step B1. Remove custom Kubelet certificates"
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /var/snap/microk8s/current/certs/kubelet.crt
        - /var/snap/microk8s/current/certs/kubelet.key
        - /var/snap/microk8s/current/certs/kubelet.conf
        - /var/snap/microk8s/current/certs/kubelet.csr

    - name: "Step B2. Clean up CNI configurations"
      ansible.builtin.file:
        path: /var/snap/microk8s/current/args/cni-network
        state: absent
