---
apiVersion: {{ kubeadm_join_secondary.join_config.api_version }}
kind: {{ kubeadm_join_secondary.join_config.kind }}
nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    - name: "cgroup-driver"
      value: "{{ kubeadm_join_secondary.join_config.cgroup_driver }}"
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ k8s_ha_virtual_ip }}:6443"
    token: "{{ hostvars[groups['master'][0]]['kubeadm_token'] }}"
    caCertHashes:
      - "sha256:{{ hostvars[groups['master'][0]]['kubeadm_ca_hash'] }}"
    unsafeSkipCAVerification: {{ kubeadm_join_secondary.join_config.ca_verification_skip | lower }}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: "{{ advertise_ip }}"
  certificateKey: "{{ hostvars[groups['master'][0]]['kubeadm_cert_key'] }}"
