---
- name: Section A. Run OS prerequisites setup
  block:
    - name: "Step 1. Action: Add Universe and Multiverse repositories"
      ansible.builtin.apt_repository:
        repo: "{{ _kubeadm_base_repo_community_string }}"
        state: present
        filename: "{{ _kubeadm_base_repo_community_data.filename }}"
        update_cache: true

    - name: "Step 2. Action: Install build dependencies"
      ansible.builtin.apt:
        name: "{{ kubeadm_base.packages.apt.prereq }}"
        state: present
        update_cache: true

    - name: "Step 3. Harden: Ensure sshd service is enabled and starts on boot"
      ansible.builtin.systemd:
        name: ssh
        state: started
        enabled: true
