---
kubeadm_pri:
  prereqs:
    paths:
      journald_log: "/var/log/journal"
      kube_root: "/etc/kubernetes"
    services:
      - "systemd-journald"
      - "kubelet"

  config:
    dest_path: "/etc/kubernetes/kubeadm-config.yaml"

    version: "v1.32.0"
    node_registration:
      cri_endpoint: "unix:///var/run/crio/crio.sock"
      cgroup_driver: "systemd"

    static_sans:
      - "kubernetes"
      - "kubernetes.default"
      - "kubernetes.default.svc"
      - "kubernetes.default.svc.cluster.local"

  init:
    log_path: "/tmp/kubeadm-init.log"

  kubeconfig:
    path: "/etc/kubernetes/admin.conf"
    root_setup:
      dir: "/root/.kube"
      config_path: "/root/.kube/config"
      dir_mode: "0755"
      config_mode: "0600"

    user_setup:
      dir_name: ".kube"
      config_name: "config"
      dir_mode: "0755"
      config_mode: "0644"

  fetch:
    dest_file: "kubeconfig"
    dest_dir: "{{ playbook_dir }}/../fetched"
    flat: true

_kubeadm_pri_user_kube_dir: "/home/{{ ansible_ssh_user }}/{{ kubeadm_pri.kubeconfig.user_setup.dir_name }}"
_kubeadm_pri_user_kube_config: "{{ _kubeadm_pri_user_kube_dir }}/{{ kubeadm_pri.kubeconfig.user_setup.config_name }}"
_kubeadm_pri_fetch_dest_path: "{{ kubeadm_pri.fetch.dest_dir }}/{{ kubeadm_pri.fetch.dest_file }}"
