---
all:
  vars:
    service_identifier: "${service_name}"
    
    dev_harbor_cluster_ips: ${jsonencode([for node in dev_harbor_nodes : node.ip])}
    dev_harbor_mtls_node_subnet: "${cluster_network.access_scope}"
    dev_harbor_service_domain: "${cluster_identity.domain}"
    dev_harbor_tls_port: ${cluster_network.dev_harbor_tls_port}
    
    dev_harbor_static_routes:
      - to: "${cluster_network.vault_vip}/32"
        via: "${cluster_network.dev_harbor_vip}"
        dev: "ens3"
        metric: 100

  children:
    dev_harbor_nodes:
      hosts:
%{ for key, node in dev_harbor_nodes ~}
        ${key}:
          advertise_ip: ${node.ip}
%{ endfor ~}
